<table class='projects'>
<% @projects.each do |project| -%>
  <tr>
    <td class='name'><%= link_to project.name, :action => "show", :id => project %></td>
    <td><%= project_status(project) %></td>
    </td>
    <td>
    <% form_for :project, :url => {:action => :build, :id => project} do |f| -%>
      <%= submit_tag 'Bauen' %>
    <% end -%>
    </td>
    <td>
    <% form_for :project, :url => {:action => :delete, :id => project} do |f| -%>
      <%= submit_tag 'Löschen' %>
    <% end -%>
    </td>
  </tr>
<% end -%>
</table>
<% form_for :project, :url => {:action => :create} do |f| -%>
  Name: <%= f.text_field :name %>
  URL: <%= f.text_field :url %>
  Branch: <%= f.text_field :branch %>
  <%= submit_tag 'Anlegen' %>
<% end -%>
