<%= link_to 'Übersicht', :action => 'index' %>
<h1>Project <%= @project.name %></h1>
<table class='builds'>
<% builds = @project.builds.sort_by {|b| b.id}.reverse
builds[0..2].each do |build| -%>
  <tr>
    <td class='name'><%= link_to build_display_value(build), :action => "show_build", :id => build %></td>
    <td><%= build_status(build) %></td>
  </tr>
<% end -%>
<% unless builds.size < 4 -%>
  <tr>
    <td>
      <select>
      <% builds[3..-1].each do |build| -%>
        <option><%= build_display_value(build) %></option>
      <% end -%>
      </select>
    </td>
  </tr>
<% end -%>
</table>
