<h1>Projekt <%= @project.name %></h1>

<% (builds = @project.builds.sort_by {|b| b.id}.reverse)[0..5].each do |build| -%>
  <div class="box">
    <%= link_to build_display_identifier(build), {:action => "show_build", :id => build},
        :title => build_display_details(build), :class => 'link' %>
    <% if (href = build_gitweb_url(build)) -%>
      | <%= link_to "Commit anschauen", href, :class => "link" %>
    <% end -%>
    <span class="<%= status_css_class(build_status(build)) %>"><%#"vimrepair%>
      <%= build_display_status(build) %>
    </span>
    <% build.buckets.select {|b| bucket_failed?(b)}.each do |bucket| -%>
      <%= render :partial => "bucket", :locals => {:bucket => bucket} %>
    <% end -%>
  </div>
<% end -%>

<% content_for :extra_content do -%>
  <% unless builds.size < 6 -%>
    <tr>
      <td>
        <select>
        <% builds[6..-1].each do |build| -%>
          <option><%= build_display_identifier(build) %></option>
        <% end -%>
        </select>
      </td>
    </tr>
  <% end -%>
<% end -%>
