<h1>
  Projekt <%= link_to @build.project.name, :action => 'show', :id => @build.project %>,
  Build <%= build_display_identifier(@build) %>
  <%= if (href = build_gitweb_url(@build)); "(#{link_to "Commit anschauen", href})"; end %>
</h1>
<%= render :partial => "build_status", :locals => {:build => @build} %>
<% @build.buckets.sort.each do |bucket| -%>
  <%= render :partial => "bucket", :locals => {:bucket => bucket} %>
<% end -%>
