<h1>
  Projekt <%= link_to @build.project.name, :action => 'show', :id => @build.project %>,
  Build <%= build_display_identifier(@build) %>
  <% if (href = build_gitweb_url(@build)) -%>
    (<%= link_to "Commit anschauen", href, :class => "link" %>)
  <% end -%>
</h1>
<% @build.buckets.each do |bucket| -%>
  <div class="box">
    <% link_to({:action => "show_bucket", :id => bucket}, :class => 'link') do -%>
      <span title="<%= bucket_display_details(bucket) %>"><%= bucket.name %></span>
    <% end -%>
    <span class="<%= status_css_class(bucket.status) %>"><%#"vimrepair%>
      <%= display_status(bucket.status) %>
    </span>
  </div>
<% end -%>
