<% build = @bucket.build -%>
<% project = build.project -%>
<h1>
  Projekt <%= link_to project.name, :action => 'show', :id => project %>,
  Build <%= link_to build_display_identifier(build), :action => 'show_build', :id => build %>
  <% if (href = build_gitweb_url(build)) -%>
    (<%= link_to "Commit anschauen", href, :class => "link" %>)
  <% end -%>,
  Task <%= @bucket.name %></h1>
</h1>
<pre><%= @bucket.log ? @bucket.log.gsub(/</, "&lt;").gsub(/>/, "&gt;") : "" %></pre>

<% content_for :extra_content do -%>
  <% unless @bucket.logs.blank? -%>
<pre>
<% @bucket.logs.each do |log| -%><%= log.log ? log.log.gsub(/</, "&lt;").gsub(/>/, "&gt;") : "" %><% end -%>
</pre>
  <% end -%>
<% end -%>
