<html>
  <head>
    <title>Distributed Cruise Control - <%= controller.controller_name %></title>
    <%= stylesheet_link_tag 'style' %>
    <link rel="shortcut icon" href="/images/diccr-favicon-medium.ico" type="image/x-icon">
    <link rel="icon" href="/images/diccr-favicon-medium.ico" type="image/x-icon">
  </head>
  <body>
    <div id="container">
      <%= link_to image_tag('/images/logo.png', :class => 'logo'), :action => 'index' %>
      <div id="mainContent">
        <%= yield %>
      </div>
      <% unless (extra_content = yield(:extra_content)).blank? -%>
        <div id="extraContent">
          <%= extra_content %>
        </div>
      <% end -%>
    </div>
  </body>
</html>
