<!DOCTYPE html>
<html>
<head>
  <title>Distributed Cruise Control - <%= controller.controller_name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="<%= asset_path 'diccr-favicon-medium.ico' %>" type="image/x-icon">
  <link rel="icon" href="<%= asset_path 'diccr-favicon-medium.ico' %>" type="image/x-icon">
  <script type="text/javascript" src="//www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart']});
  </script>
</head>
<body>
  <div id="container">
    <div id="headerContent">
      <%= link_to image_tag('logo.png', :class => 'logo'), :action => 'index' %>
      <%= yield(:header_content) %>
    </div>
    <div id="mainContent">
      <%= yield %>
    </div>
    <% unless (extra_content = yield(:extra_content)).blank? -%>
      <div id="extraContent">
        <%= extra_content %>
      </div>
    <% end -%>
  </div>
  <div id="overlay" class="overlay">
    <div class="details">
    </div>
  </div>
  </div>
</body>
</html>
